Repository Automattic/vip-container-images, pull requests merged in 2021-11, with the labels that each got.

#36 Introduce scripts
  dev-tools/Dockerfile
  dev-tools/scripts/user-container-setup.sh
  php-fpm/Dockerfile
Labels: Needs Review

#38 Explicitly defines which 2FA providers are able to be used in the dev…
  dev-tools/dev-env-plugin.php
Labels: Needs Review

#40 Dependabot: monitor GitHub actions
  .github/dependabot.yml
Labels: enhancement, dependencies, Needs Review

#39 Add WP Test Runner image
  .github/dependabot.yml
  .github/workflows/wp-test-runner.yml
  wp-test-runner/Dockerfile
  wp-test-runner/install-wp.sh
  wp-test-runner/runner.sh
Labels: Needs Review, docker

#46 Add support for PHP options
  wp-test-runner/runner.sh
Labels: enhancement, Needs Review

#48 Update Skeleton image
  skeleton/Dockerfile
Labels: enhancement, Needs Review, docker

#49 Update mu-plugins image
  mu-plugins/Dockerfile
  mu-plugins/autoupdate.sh
  mu-plugins/run.sh
Labels: enhancement, Needs Review, docker

#52 Update WordPress image
  wordpress/Dockerfile
  wordpress/add-version.sh
Labels: enhancement, Needs Review, docker

#51 Update php-fpm image
  php-fpm/run.sh
Labels: enhancement, Needs Review, docker

#54 Fix issues with the PCRE library and speedup build
  wp-test-runner/Dockerfile
Labels: bug, Needs Review, docker

#53 Explicitly disable or enable XDebug
  wp-test-runner/runner.sh
Labels: enhancement, [Status] Ready to Merge, docker

#50 Update dev-tools image
  dev-tools/Dockerfile
  dev-tools/add-site.sh
  dev-tools/scripts/user-container-setup.sh
  dev-tools/setup.sh
Labels: enhancement, [Status] Ready to Merge, docker

#57 Add MariaDB-Lite image
  .github/dependabot.yml
  .github/workflows/mariadb-lite.yml
  mariadb-lite/Dockerfile
Labels: enhancement, [Status] Needs Review, docker
