Repository Automattic/vip-container-images, pull requests merged in 2022-10, with the labels that each got.

#293 Add su-exec to PHP images
  php-fpm/Dockerfile.74
  php-fpm/Dockerfile.80
  php-fpm/Dockerfile.81
Labels: [Status] Needs Review, docker

#305 Do not build core test images for WP older than 5.9
  wp-core-test-runner/Dockerfile
  wp-core-test-runner/install-wp-core.sh
Labels: docker

#306 Set schedule for test runners
  .github/workflows/wp-core-test-runner.yml
  .github/workflows/wp-test-base.yml
Labels: github_actions

#312 Automatically cancel stale workflows
  .github/workflows/alpine.yml
  .github/workflows/dev-tools.yml
  .github/workflows/mariadb-lite.yml
  .github/workflows/mu-plugins.yml
  .github/workflows/nginx.yml
  .github/workflows/php-fpm.yml
  .github/workflows/skeleton.yml
  .github/workflows/statsd.yml
  .github/workflows/traefik.yml
  .github/workflows/wordpress.yml
  .github/workflows/wp-core-test-runner.yml
  .github/workflows/wp-test-base.yml
  .github/workflows/wp-test-runner.yml
Labels: github_actions

#324 Remove WP Core Test Runner
  .github/dependabot.yml
  .github/workflows/wp-core-test-runner.yml
  wp-core-test-runner/Dockerfile
  wp-core-test-runner/configure-environment.sh
  wp-core-test-runner/create-database.sh
  wp-core-test-runner/install-wp-core.sh
  wp-core-test-runner/runner.sh
Labels: [Status] Needs Review

#294 Add PHP 8.2 image
  .github/workflows/php-fpm.yml
  php-fpm/Dockerfile.82
  php-fpm/rootfs82/config/wp-cli.yaml
  php-fpm/rootfs82/etc/php82/conf.d/memcache.ini
  php-fpm/rootfs82/etc/php82/conf.d/xdebug.ini.template
  php-fpm/rootfs82/etc/php82/php-fpm.conf
  php-fpm/rootfs82/etc/php82/php-fpm.d/docker.conf
  php-fpm/rootfs82/etc/php82/php-fpm.d/www.conf
  php-fpm/rootfs82/etc/php82/php-fpm.d/zz-docker.conf
  php-fpm/rootfs82/etc/php82/php.ini
  php-fpm/rootfs82/usr/local/bin/docker-php-entrypoint
  php-fpm/rootfs82/usr/local/bin/run.sh
Labels: enhancement, docker

#325 Merge wp-test-base and wp-test-runner images
  .github/dependabot.yml
  .github/workflows/wp-test-base.yml
  wp-test-base/Dockerfile
  wp-test-runner/Dockerfile
Labels: [Status] Needs Review

#332 Update workflows
  .github/workflows/alpine.yml
  .github/workflows/mariadb-lite.yml
  .github/workflows/nginx.yml
  .github/workflows/statsd.yml
  .github/workflows/traefik.yml
  .github/workflows/update-wp-versions.yml
  .github/workflows/wordpress.yml
Labels: [Status] Ready to Merge, github_actions

#334 Rename vip-search -> elasticsearch
  .github/workflows/dev-tools.yml
  dev-tools/setup.sh
  dev-tools/wp-config-defaults.php
Labels: [Status] Ready to Merge

#337 Add WordPress 6.1 RC to dev-env
  wordpress/versions.json
Labels: [Status] Ready to Merge

#339 fix(dev-tools): Replace bashisms with portable code
  dev-tools/scripts/user-container-setup.sh
  dev-tools/setup.sh
Labels: [Status] Needs Review

#338 feat(php-fpm): Add `shadow` to php-fpm images
  php-fpm/Dockerfile.74
  php-fpm/Dockerfile.80
  php-fpm/Dockerfile.81
  php-fpm/Dockerfile.82
Labels: enhancement, docker

#342 feat(php): Add php-pecl-memcached
  php-fpm/Dockerfile.74
  php-fpm/Dockerfile.80
  php-fpm/Dockerfile.81
  php-fpm/Dockerfile.82
Labels: enhancement
