Repository Automattic/vip-container-images, pull requests merged in 2022-09, with the labels that each got.

#272 Update wp-test-base's hash
  wp-core-test-runner/Dockerfile
Labels: dependencies, [Status] Needs Review, docker

#273 Update default PHP version to 8.0
  wp-test-base/Dockerfile
Labels: docker

#280 Bump traefik to 2.8
  traefik/Dockerfile
Labels: dependencies, docker

#279 Update node:gallium-bullseye-slim's hash
  statsd/Dockerfile
Labels: dependencies, docker

#277 Update mariadb hash
  mariadb-lite/Dockerfile
Labels: dependencies, docker

#276 Bump nginx to 1.23
  nginx/Dockerfile
Labels: dependencies, docker

#275 Bump alpine to 3.16.2
  alpine/Dockerfile
  php-fpm-alt/Dockerfile.74
  php-fpm-alt/Dockerfile.80
  php-fpm-alt/Dockerfile.81
Labels: dependencies, docker

#278 Bump php-fpm to 7.4-fpm-alpine3.16
  php-fpm/Dockerfile
Labels: dependencies, docker

#274 Update cimg/base image hash
  wp-test-base/Dockerfile
Labels: dependencies, docker

#281 Update vip-container-images/alpine dependents
  dev-tools/Dockerfile
  mu-plugins/Dockerfile
  skeleton/Dockerfile
  wordpress/Dockerfile
Labels: dependencies, [Status] Needs Review, docker

#282 [skeleton] Add workflow_dispatch trigger
  .github/workflows/skeleton.yml
Labels: bug, [Status] Needs Review, github_actions

#283 Add GitHub action to mark inactive issues and PRs as stale
  .github/workflows/stale.yml
Labels: [Status] Needs Review

#286 Automatically update versions.json when a new WP version gets released
  .github/workflows/update-wp-versions.yml
Labels: [Status] Needs Review, github_actions

#285 Fix shell scripts
  wordpress/add-version.sh
Labels: [Status] Ready to Merge

#289 Put locked items to the top
  wordpress/add-version.sh
  wordpress/versions.json
Labels: [Status] Ready to Merge

#284 Makes dev-env closer to vip go
  dev-tools/dev-env-plugin.php
  dev-tools/wp-config-defaults.php
Labels: [Status] Needs Review
