Repository Automattic/vip-container-images, pull requests merged in 2022-05, with the labels that each got.

#201 WordPress: add 6.0-RC1 and trunk.
  wordpress/versions.json
Labels: [Status] Ready to Merge

#207 Configure Renovate and drop Dependabot
  .github/dependabot.yml
  .github/renovate.json
Labels: [Status] Needs Review

#227 Add WP 6.0-RC2
  wordpress/versions.json
Labels: [Status] Needs Review

#226 Update/show errors
  dev-tools/setup.sh
Labels: [Status] Needs Review

#228 Add JPEG support to GD
  php-fpm/Dockerfile
Labels: bug, [Status] Ready to Merge, docker

#229 Bump Alpine to 3.15 for php 7.4 image
  .github/workflows/php-fpm.yml
  php-fpm/Dockerfile
Labels: dependencies, [Status] Needs Review, docker

#235 Build linux/arm64 variant of the image
  .github/workflows/mariadb-lite.yml
  .github/workflows/wp-test-runner.yml
Labels: bug, [Status] Needs Review, github_actions

#234 Changed the RC to the official 6.0 release tag
  wordpress/versions.json
Labels: [Status] Ready to Merge

#244 chore(deps): update dependency traefik to v2.7.0
  traefik/Dockerfile
Labels: dependencies, docker

#243 chore(deps): update dependency nginx to v1.22.0
  nginx/Dockerfile
Labels: dependencies, docker

#240 chore(deps): update cimg/base digest to 087e0c2
  wp-core-test-runner/Dockerfile
  wp-test-runner/Dockerfile
Labels: dependencies, docker

#236 Update nvm to 0.39.1
  wp-core-test-runner/Dockerfile
Labels: [Status] Needs Review, docker

#247 Bump alpine 3.15.4 to 3.16.0
  alpine/Dockerfile
Labels: [Status] Needs Review, docker

#238 Add wp-test-base image
  .github/workflows/wp-test-base.yml
  wp-test-base/Dockerfile
Labels: enhancement, [Status] Needs Review, docker, github_actions

#249 Update base image for php-fpm-alt:8.1
  php-fpm-alt/Dockerfile.81
Labels: [Status] Needs Review, docker

#250 Update mariadb-lite image
  mariadb-lite/Dockerfile
Labels: [Status] Needs Review, docker

#248 Update base image for php-fpm-alt:8.0
  php-fpm-alt/Dockerfile.80
Labels: [Status] Needs Review, docker

#251 Bump ghcr.io/automattic/vip-container-images/alpine to 3.16.0
  .github/workflows/wordpress.yml
  README.md
  dev-tools/Dockerfile
  mu-plugins/Dockerfile
  skeleton/Dockerfile
  wordpress/Dockerfile
Labels: [Status] Needs Review, docker

#252 Change base image for test runners to automattic/vip-container-images/wp-test-base
  wp-core-test-runner/Dockerfile
  wp-test-runner/Dockerfile
Labels: enhancement, [Status] Needs Review, docker
