Repository Automattic/vip-container-images, pull requests merged in 2022-04, with the labels that each got.

#186 Add 6.0-beta1
  wordpress/versions.json
Labels: [Status] Ready to Merge

#187 Rename the tag to 6.0
  wordpress/versions.json
Labels: WordPress

#188 Remove 6.0 as there's a bug in VIP-CLI preventing the user from actually using it
  wordpress/versions.json
Labels: WordPress

#164 Alternative php-fpm image
  .github/workflows/php-fpm-alt.yml
  php-fpm-alt/Dockerfile.74
  php-fpm-alt/Dockerfile.80
  php-fpm-alt/Dockerfile.81
  php-fpm-alt/rootfs74/config/wp-cli.yaml
  php-fpm-alt/rootfs74/etc/php7/conf.d/xdebug.ini.template
  php-fpm-alt/rootfs74/etc/php7/php-fpm.conf
  php-fpm-alt/rootfs74/etc/php7/php-fpm.d/docker.conf
  php-fpm-alt/rootfs74/etc/php7/php-fpm.d/www.conf
  php-fpm-alt/rootfs74/etc/php7/php-fpm.d/zz-docker.conf
  php-fpm-alt/rootfs74/etc/php7/php.ini
  php-fpm-alt/rootfs74/usr/local/bin/docker-php-entrypoint
  php-fpm-alt/rootfs74/usr/local/bin/run.sh
  php-fpm-alt/rootfs80/config/wp-cli.yaml
  php-fpm-alt/rootfs80/etc/php8/conf.d/xdebug.ini.template
  php-fpm-alt/rootfs80/etc/php8/php-fpm.conf
  php-fpm-alt/rootfs80/etc/php8/php-fpm.d/docker.conf
  php-fpm-alt/rootfs80/etc/php8/php-fpm.d/www.conf
  php-fpm-alt/rootfs80/etc/php8/php-fpm.d/zz-docker.conf
  php-fpm-alt/rootfs80/etc/php8/php.ini
  php-fpm-alt/rootfs80/usr/local/bin/docker-php-entrypoint
  php-fpm-alt/rootfs80/usr/local/bin/run.sh
  php-fpm-alt/rootfs81/config/wp-cli.yaml
  php-fpm-alt/rootfs81/etc/php81/conf.d/xdebug.ini.template
  php-fpm-alt/rootfs81/etc/php81/php-fpm.conf
  php-fpm-alt/rootfs81/etc/php81/php-fpm.d/docker.conf
  php-fpm-alt/rootfs81/etc/php81/php-fpm.d/www.conf
  php-fpm-alt/rootfs81/etc/php81/php-fpm.d/zz-docker.conf
  php-fpm-alt/rootfs81/etc/php81/php.ini
  php-fpm-alt/rootfs81/usr/local/bin/docker-php-entrypoint
  php-fpm-alt/rootfs81/usr/local/bin/run.sh
Labels: [Status] Needs Review, docker

#128 Secure GitHub workflows
  .github/workflows/alpine.yml
  .github/workflows/dev-tools.yml
  .github/workflows/mariadb-lite.yml
  .github/workflows/mu-plugins.yml
  .github/workflows/nginx.yml
  .github/workflows/php-fpm.yml
  .github/workflows/skeleton.yml
  .github/workflows/statsd.yml
  .github/workflows/traefik.yml
  .github/workflows/wordpress.yml
  .github/workflows/wp-core-test-runner.yml
  .github/workflows/wp-test-runner.yml
Labels: github_actions

#190 Add debug mode to debug failed tests
  wp-core-test-runner/runner.sh
  wp-test-runner/runner.sh
Labels: enhancement, [Status] Needs Review, docker

#189 Update WordPress add-version.sh script
  README.md
  wordpress/add-version.sh
Labels: [Status] Ready to Merge, WordPress

#193 Rename RUN_TESTS to SKIP_TESTS to match what it actually does
  wp-core-test-runner/runner.sh
  wp-test-runner/runner.sh
Labels: bug, [Status] Ready to Merge, docker

#195 Create a symlink to /usr/bin/php
  php-fpm-alt/Dockerfile.80
  php-fpm-alt/Dockerfile.81
Labels: bug, [Status] Ready to Merge, docker

#197 Implement a simple check that runs until the files are copied to make sure setup only proceeds after, otherwise we're risking race conditions
  dev-tools/setup.sh
Labels: [Status] Ready to Merge
